/* ========= Reset ========= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== Colors ==== */
:root{
    --1st : #e63946;
    --2nd : #f1faee;
    --3rd : #a8dadc;
    --4th : #457b9d;
    --5th : #1d3557;
    --6th : #fee440;
    --7th : #f28482;
    --8th : #00f5d4;
    --9th : #283618;
    --10th : #bc6c25;
    --11th : #00bbf9;
    --12th : #fb8500;
}


.one-bg{
    background-color: var(--1st);
}

.two-bg{
    background-color: var(--11th);
}

.three-bg{
    background-color: var(--3rd);
}

.four-bg{
    background-color: var(--5th);
}

.five-bg{
    background-color: var(--2nd);
}

.six-bg{
    background-color: var(--4th);
}

.seven-bg{
    background-color: var(--6th);
}

.eight-bg{
    background-color: var(--7th);
}
.nine-bg{
    background-color: var(--8th);
}

.ten-bg{
    background-color: var(--9th);
}

.eleven-bg{
    background-color: var(--10th);
}

.twelve-bg{
    background-color: var(--12th);
}

h2{
    color: #fff;
    text-align: center;
}



/* ==== 1st Grid Practice ==== */
.row{
    height: 700px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
    text-align: center;
}


.header {
    grid-column-start: 1;
    grid-column-end: -1;
}

.menu{
    grid-column: 1 / 4;
}

.content{

    grid-column: 4 / -1;
}

.footer{
    grid-column: 1 / span 12;
}

/* ==== Grid-Template-Areas ==== */

.grid-area-header{
    font-size: 3rem;
    text-align: center;
    margin: 3rem auto;
    color: #283618;
}
.row2{
    height: 700px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas :
    "h h h h h h h h h h h h"
    "m m m c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.header2 {
    grid-area: h;
}

.menu2{
    grid-area: m;
}

.content2{
    grid-area: c;
}

.footer2{
    grid-area: f;
}


/* Grid Template-colunms > auto-fit and minmax */

.row3{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}